<div class="container-formulario">
  <div class="editar-form">
    <h1>Editar Producto</h1>
    <div class="form-group">
      <label for="titulo">Titulo</label>
      <input
        type="text"
        class="form-control"
        id="titulo"
        placeholder="Titulo del producto"
        [formControl]="titulo"
      />
    </div>
    <div class="form-group">
      <label for="precio">Precio</label>
      <input
        type="number"
        class="form-control"
        id="precio"
        placeholder="Precio del producto"
        [formControl]="precio"
      />
    </div>
    <div class="form-group">
      <label for="descripcion">Descripcion</label>
      <input
        type="text"
        class="form-control"
        id="descripcion"
        placeholder="Descripcion del producto"
        [formControl]="descripcion"
      />
    </div>
    <br><br>
    <button class="btn btn-primary" (click)="onSubmit()">Guardar</button>
    <button type="button" class="btn btn-dark" (click)="salir()">Salir</button>
  
  
  </div>
</div>